<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/mfulogo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Course</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/6f337e5656.js" crossorigin="anonymous"></script>
    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/bootbox.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <style>
        .boxBtn {
            margin-bottom: 10px;
        }

        .boxBtn button {
            margin-left: 10px;
        }

        .deletemem {
            margin-left: 57%;
        }

        .deletemem1 {
            margin-left: 45%;
        }

        .deletemem2 {
            margin-left: 68%;
        }
    </style>

    <!-- CSS Just for demo purpose, don't include it in your project -->

</head>
<style>
    .mempic {
        width: 20%;
        display: block;

        border-radius: 50%;
    }
</style>

<body>

    <div class="wrapper">
        <div class="sidebar" data-image="../assets/img/colorslidebar.png" data-color="blue">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
    
            Tip 2: you can also add an image using data-image tag
        -->

            <div class="sidebar-wrapper">
                <div class="logo" style="text-align: center;">
                    
                        <h3>MFU STUDENT ATTENDANT</h3>
                   
                </div>

                <div>
                    <img style="float:center" class="w-75 p-3 rounded mx-auto d-block"  alt="Responsive image"  src="../assets/img/mfulogo.png">
                </div>
                <div class="content" style="text-align: center;">
                   
                        <h4>WELCOME</h4>
                    
                </div>
                <ul class="nav">
                    <li class="nav-item active active-pro">
                        <a class="nav-link active" href="/manage/logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid" style="margin-top:10px;padding:10px">
                    <p>2302201 Understanding Global Society</p>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <h4 style="text-align: center;">COURSE</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 style="text-align: center;">Date time</h4>
                                <div class="col-md-4" style="center: center">
                                    <div class="card" style="border-radius:20px;width:300%;margin-left:auto;margin-right:auto;text-align:center;height:100%;">
                                        <div class="card-body" >
                                          <h4 class="card-title" id="week">WEEK1</h4>
                                          <h5 id="semester">Semester 2</h5>
                                          <div class="button-group" style="float: right;">
                                            <button class="btn btn-primary" style="border-radius: 20px;">View</button>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-md-4" style="center: center">
                                        <div class="card" style="border-radius:20px;width:300%;margin-left:auto;margin-right:auto;text-align:center;height:100%;">
                                            <div class="card-body" >
                                              <h4 class="card-title" id='week1'>WEEK1</h4>
                                              <h5 id="semester1"> Semester 2</h5>
                                              <div class="button-group" style="float: right;">
                                                <button class="btn btn-primary" style="border-radius: 20px;">View</button>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                         </div>

                    </div>
                </div>
            </div>

            <footer class="footer" style="bottom:0;width:100%;left:0;position:fixed">
                <div class="container-fluid">
                        <p class="copyright text-center" style="text-align: center;">
                            ©<a href="http://www.google.com">MFU</a>  STUDENT ATTENDANT.
                        </p>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="../assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="../assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/js/demo.js"></script>
<script>
        $(document).ready(function(){

        //    getCourse(id);
            var courseID=1
            $.ajax({
                url: 'http://192.168.1.45:3800/course/'+courseID,
                method:"GET",
                dataType:"json",
            }).done(function(data,xhr,state){
                console.log(data)
                $("#week").html("Week "+data[0].weekNum)
                $("#semester").html(data[0].courseName)
                $("#week1").html("Week "+data[1].weekNum)
                $("#semester1").html(data[0].courseName)
            }).fail(function(xhr){
                console.log(xhr)
            })


            //  function getcourse(id){
            //      var id=1
            //     $.ajax({
            //     url: 'http://localhost:3800/course/'+id,
            //     method:"GET",
            //     dataType:"json",
            // }).done(function(data,state,xhr){
            //    console.log(date[0])
            // })
            // }
        });
</script>

</html>